<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item noti-icon position-relative" id="page-header-notifications-dropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="bell" class="icon-lg"></i>
        <span class="badge bg-danger rounded-pill">۴</span>
    </button>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
         aria-labelledby="page-header-notifications-dropdown">
        <div class="p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="m-0">اعلانات</h6>
                </div>
                <div class="col-auto">
                    <a href="#!" class="small text-reset text-decoration-underline">۴ پیام خوانده نشده</a>
                </div>
            </div>
        </div>
        <div data-simplebar style="max-height: 230px;">
            <a href="#!" class="text-reset notification-item">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <img src="~/Layout/Admin/assets/images/users/avatar-3.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1"></h6>
                        <div class="font-size-13 text-muted">
                            <p class="mb-1"></p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>۵۸ دقیقه پیش</span></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!" class="text-reset notification-item">
                <div class="d-flex">
                    <div class="flex-shrink-0 avatar-sm me-3">
                        <span class="avatar-title bg-primary rounded-circle font-size-16">
                            <i class="bx bx-cart"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1">سفارش شما ثبت شد</h6>
                        <div class="font-size-13 text-muted">
                            <p class="mb-1"></p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>۴۸ دقیقه پیش</span></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!" class="text-reset notification-item">
                <div class="d-flex">
                    <div class="flex-shrink-0 avatar-sm me-3">
                        <span class="avatar-title bg-success rounded-circle font-size-16">
                            <i class="bx bx-badge-check"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1">سفارش شما ارسال شد</h6>
                        <div class="font-size-13 text-muted">
                            <p class="mb-1"></p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>۳ دقیقه پیش</span></p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#!" class="text-reset notification-item">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <img src="~/Layout/Admin/assets/images/users/avatar-6.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1">مختار مینائی</h6>
                        <div class="font-size-13 text-muted">
                            <p class="mb-1"></p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>۴۵ دقیقه پیش</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-2 border-top d-grid">
            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span>مشاهده همه</span>
            </a>
        </div>
    </div>
</div>