@using SaharBeautyWeb.Models.Entities.WhyUsSections.Models
@model WhyUsSectionModel
<div style="display:block" id="register-why-us-section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ثبت درباره ما</h4>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <form class="needs-validation"
                          method="post"
                          id="add-why-us-section-form"
                          asp-page="Index"
                          asp-page-handler="CreateWhyUsSection"
                          enctype="multipart/form-data">
                          @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">عنوان</label>
                                <input type="text"
                                       id="why-us-section-title"
                                       class="form-control"
                                       asp-for="Title"
                                       placeholder="لطفا یک عنوان را وارد نمایید">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">توضیحات</label>
                                <textarea class="form-control"
                                          asp-for="Description"
                                          id="why-us-description">

                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">انتخاب عکس</label>
                                <input type="file"
                                       id="input-why-us-section-image"
                                       class="form-control"
                                       asp-for=Image
                                       placeholder="یک عکس بافرمت مناسب انتخاب کنید(jpeg/jpg/png)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" 
                                        style="margin-right:auto" 
                                        type="submit" 
                                        id="createWhyUsSection">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
                <di class=" col-md-6 d-flex-justify-content-center">
                    <img id="preview-add-image-why-us-section"
                         src="/Layout/Admin/assets/images/bg-1.jpg"
                         class="img-thumbnail mb2"
                         style="object-fit:cover" />
                </di>
            </div>
        </div>
    </div>
</div>

