@model UserRoleModel

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">منو</li>

                @if (Model.Roles.Any() && Model.Roles.Contains("Admin"))
                {
                    <li>
                        <a href="/UserPanels/Admin">
                            <i data-feather="home"></i>
                            <span data-key="t-dashboard">داشبورد</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">تنظیمات سایت</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/admin/siteSettings/banners">
                                    <span data-key="t-calendar">بنر</span>
                                </a>
                            </li>

                            <li>
                                <a href="/userPanels/admin/siteSettings/WhyUsSections">
                                    <span data-key="t-chat">چرا ما</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/userPanels/admin/siteSettings/AboutUs">
                                    <span data-key="t-chat">درباره ما</span>
                                </a>
                            </li>
                           
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps"> سرویس ها</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/admin/siteSettings/Treatments">
                                    <span data-key="t-chat"> خدمات ما</span>
                                </a>

                            </li>
                            <li>
                                <a href="/userPanels/admin/WeeklySchedules">
                                    <span data-key="t-chat">زمانبندی هفتگی</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">کاربران </span>
                        </a>

                        <ul class=" sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Admin/AddNewClient">
                                    <span data-key="t-calendar"> ثبت مشتری جدید </span>
                                </a>
                            </li>
                            <li>
                                <a href="/userPanels/Admin/Users">
                                    <span data-key="t-calendar"> لیست کاربران </span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">نوبتها</span>
                        </a>

                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Admin/Appointments">
                                    <span data-key="t-calendar">لیست نوبتها </span>
                                </a>
                            </li>
                            <li>
                                <a href="/userPanels/Admin/Appointments/TodayAppointments">
                                    <span data-key="t-calendar"> نوبت های امروز </span>
                                </a>
                            </li>
                            <li>
                                <a href="/userPanels/Admin/Appointments/AddAppointment">
                                    <span data-key="t-calendar"> ثبت نوبت جدید </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">حساب کاربری</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Admin/Accounts">
                                    <span data-key="t-calendar">پروفایل </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">SMS ها</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Admin/SMS-Logs">
                                    <span data-key="t-calendar">پیام های ارسال شده </span>
                                </a>
                            </li>
                        </ul>
                    </li>



                }

                @if (Model.Roles.Any() && Model.Roles.Contains("Client"))
                {
                    <li>
                        <a href="/UserPanels/Client">
                            <i data-feather="home"></i>
                            <span data-key="t-dashboard">داشبورد</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">حساب کاربری </span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Client/Accounts">
                                    <span data-key="t-calendar">پروفایل </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="grid"></i>
                            <span data-key="t-apps">نوبتها </span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a href="/userPanels/Client/Appointment">
                                    <span data-key="t-calendar">رزرو نوبت </span>
                                </a>
                            </li>

                            <li>
                                <a href="/userPanels/Client/MyAppointments">
                                    <span data-key="t-calendar">لیست نوبت ها ی من  </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>