
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Jeel - Beauty and Wellness HTML Template">
    <meta name="description" content="Jeel - Beauty and Wellness HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Link of CSS -->
    <link rel="stylesheet" href="~/Layout/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/Layout/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/modal-video.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/odometer.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/style.css">
    <link rel="stylesheet" href="~/Layout/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Layout/assets/css/theme-dark.css">
    <link rel="stylesheet" href="~/Layout/assets/css/rtl.css">
    <link rel="stylesheet" href="~/layout/assets/css/custom/customstyle.css" />
    <link rel="stylesheet" href="~/Layout/assets/css/settings.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/assets/css/layers.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/assets/css/navigation.css" type="text/css">
    <title>سالن زیبایی </title>
    <link rel="icon" type="image/png" href="~/Layout/assets/images/favicon.png">


</head>
<body>


    <div class="header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-3 col-lg-3">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <div class="right">
                        <ul>
                            <li>
                                <i class='bx bx-mail-send'></i>
                                <span>ارسال ایمیل:</span>
                                <a href="mailto: hello@jeel.com"> hello@jeel.com</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <span>تماس فوری:</span>
                                <a href="tel:9905324936">990-532-4936</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-area sticky-top">

        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="~/Layout/assets/images/logo.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/Layout/assets/images/logo.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">صفحه اصلی <i class='bx bx-plus'></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">صفحات <i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a  class="nav-link dropdown-toggle">پنل کاربری <i class='bx bx-plus'></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="/Auth/Login" class="nav-link">ورود</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Auth/Login" class="nav-link">ثبت نام</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="Landing/Treatments" class="nav-link">لیست خدمات ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/UserPanels/Client/Appointment" class="nav-link">رزرو نوبت</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/" class="nav-link">شرایط و قوانین</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="Landing/ContactUs" class="nav-link">تماس با ما</a>
                            </li>

                           

                        </ul>
                        <div class="side-nav">

                            @* <a class="cart" href="cart.html">
                            <i class='bx bx-cart'></i>
                            <span>1</span>
                            </a> *@
                            <a class="common-btn nav-btn" href="/UserPanels/Client/Appointment">رزرو نوبت</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()
    @await Component.InvokeAsync("FooterLanding")

    <div class="go-top">
        <i class='bx bxs-up-arrow-alt'></i>
        <i class='bx bxs-up-arrow-alt'></i>
    </div>


    <!--=== Essential JS ===-->
    <script src="~/Layout/assets/js/jquery.min.js"></script>
    <script src="~/Layout/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Layout/assets/js/form-validator.min.js"></script>
    <script src="~/Layout/assets/js/contact-form-script.js"></script>
    <script src="~/Layout/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Layout/assets/js/jquery.meanmenu.js"></script>
    <script src="~/Layout/assets/js/wow.min.js"></script>
    <script src="~/Layout/assets/js/owl.carousel.min.js"></script>
    <script src="~/Layout/assets/js/jquery-modal-video.min.js"></script>
    <script src="~/Layout/assets/js/odometer.min.js"></script>
    <script src="~/Layout/assets/js/jquery.appear.min.js"></script>
    <script src="~/Layout/assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Layout/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Layout/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Layout/assets/js/custom.js"></script>
    @RenderSection("scripts", false)
    <div class="switch-box">
        <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round">

            </span>
        </label>
    </div>
   
    
    

</body>
</html>