
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Jeel - Beauty and Wellness HTML Template">
    <meta name="description" content="Jeel - Beauty and Wellness HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Link of CSS -->
    <link rel="stylesheet" href="~/Layout/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/Layout/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/modal-video.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/odometer.min.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/assets/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/assets/css/navigation.css">
    <link rel="stylesheet" href="~/Layout/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="~/Layout/assets/css/style.css">
    <link rel="stylesheet" href="~/Layout/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Layout/assets/css/theme-dark.css">
    <link rel="stylesheet" href="~/Layout/assets/css/rtl.css">

    <title>Jeel - قالب HTML جیل , پوسته سایت اصناف سالن زیبایی و سلامتی</title>
    <link rel="icon" type="image/png" href="~/Layout/assets/images/favicon.png">
</head>
<body>
    

    <div class="header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-3 col-lg-3">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <div class="right">
                        <ul>
                            <li>
                                <i class='bx bx-mail-send'></i>
                                <span>ارسال ایمیل:</span>
                                <a href="mailto: hello@jeel.com"> hello@jeel.com</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <span>تماس فوری:</span>
                                <a href="tel:9905324936">990-532-4936</a>
                            </li>
                            <li>
                                <select>
                                    <option>فارسی</option>
                                    <option>العربيّة</option>
                                    <option>Deutsch</option>
                                    <option>Português</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-area sticky-top">

        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="~/Layout/assets/images/logo.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/Layout/assets/images/logo.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">صفحه اصلی <i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link active">صفحه اصلی دمو 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">صفحه اصلی دمو 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">صفحه اصلی با دمو اسلایدر</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-4.html" class="nav-link">صفحه اصلی دمو 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">صفحات <i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">پنل کاربری <i class='bx bx-plus'></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="sign-in.html" class="nav-link">ورود</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="sign-up.html" class="nav-link">ثبت نام</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">تیم ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="appointment.html" class="nav-link">رزرو نوبت</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="gift-card.html" class="nav-link">کارت هدیه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">تعرفه ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">پرسش و پاسخ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">ارور 404</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">شرایط و قوانین</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">خدمات<i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">خدمات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-details.html" class="nav-link">جزییات خدمات</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">وبلاگ <i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog.html" class="nav-link">وبلاگ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">جزییات وبلاگ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">فروشگاه <i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="shop.html" class="nav-link">فروشگاه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link">سبد خرید</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">صفحه پرداخت</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="wishlist.html" class="nav-link">علاقه مندی ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-product.html" class="nav-link">جزییات محصول</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">تماس با ما</a>
                            </li>
                        </ul>
                        <div class="side-nav">
                            <div class="nav-search">
                                <i id="search-btn" class="bx bx-search-alt"></i>
                                <div id="search-overlay" class="block">
                                    <div class="centered">
                                        <div id="search-box">
                                            <i id="close-btn" class="bx bx-x"></i>
                                            <form>
                                                <input type="text" class="form-control" placeholder="جستجو کنید.." />
                                                <button type="submit" class="btn">جستجو</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="cart" href="cart.html">
                                <i class='bx bx-cart'></i>
                                <span>1</span>
                            </a>
                            <a class="common-btn nav-btn" href="#">رزرو نوبت</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
 
    @RenderBody()

    <footer class="footer-area pt-100 pb-70">
        <div class="footer-shape">
            <img src="~/Layout/assets/images/footer-shape1.png" alt="Shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-contact">
                            <h3>اطلاعات تماس:</h3>
                            <ul class="info">
                                <li>
                                    <a href="#">تهران ، میدان آزادی ، خیابان 9 شرقی</a>
                                </li>
                                <li>
                                    <span>تلفن تماس:</span>
                                    <a href="tel:9645658765">964-565-8765</a>
                                </li>
                                <li>
                                    <span>تلفن تماس:</span>
                                    <a href="tel:5464169576">546-416-9576</a>
                                </li>
                                <li>
                                    <span>ایمیل:</span>
                                    <a href="mailto: hello@jeel.com"> hello@jeel.com</a>
                                </li>
                                <li>
                                    <span>ایمیل:</span>
                                    <a href="mailto: hello@jeel.com"> hello@jeel.com</a>
                                </li>
                            </ul>
                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-youtube'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-img">
                            <a href="index.html">
                                <img src="~/Layout/assets/images/logo-two.png" alt="Footer">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                    <div class="footer-item">
                        <h3>ساعات کاری:</h3>
                        <div class="footer-hours">
                            <div class="left">
                                <ul>
                                    <li>شنبه:</li>
                                    <li>یک شنبه:</li>
                                    <li>دوشنبه :</li>
                                    <li>سه شنبه:</li>
                                    <li>چهارشنبه:</li>
                                    <li>پنجشنبه:</li>
                                </ul>
                            </div>
                            <div class="right">
                                <ul>
                                    <li>
                                        08:00
                                        <span>23:00</span>
                                    </li>
                                    <li>
                                        08:00
                                        <span>23:00</span>
                                    </li>
                                    <li>
                                        08:00
                                        <span>21:00</span>
                                    </li>
                                    <li>
                                        09:00
                                        <span>23:00</span>
                                    </li>
                                    <li>
                                        09:00
                                        <span>23:00</span>
                                    </li>
                                    <li>
                                        09:00
                                        <span>23:00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="go-top">
        <i class='bx bxs-up-arrow-alt'></i>
        <i class='bx bxs-up-arrow-alt'></i>
    </div>


    <!--=== Essential JS ===-->
    <script src="~/Layout/assets/js/jquery.min.js"></script>
    <script src="~/Layout/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Layout/assets/js/form-validator.min.js"></script>
    <script src="~/Layout/assets/js/contact-form-script.js"></script>
    <script src="~/Layout/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Layout/assets/js/jquery.meanmenu.js"></script>
    <script src="~/Layout/assets/js/wow.min.js"></script>
    <script src="~/Layout/assets/js/owl.carousel.min.js"></script>
    <script src="~/Layout/assets/js/jquery-modal-video.min.js"></script>
    <script src="~/Layout/assets/js/odometer.min.js"></script>
    <script src="~/Layout/assets/js/jquery.appear.min.js"></script>
    <script src="~/Layout/assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Layout/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Layout/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Layout/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Layout/assets/js/custom.js"></script>
    @RenderSection("scripts", false)
    <div class="switch-box">
        <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round">

            </span>
        </label>
    </div>

    <script>
        $(()=>{
            alert("reza");
        })
    </script>
</body>
</html>