@page
@model SaharBeautyWeb.Pages.UserPanels.Admin.Appointments.TodayAppointments.IndexModel
@{
    Layout = "_UserPanelLayout";
    ViewData["ActiveMenu"] = "TodayAppointments";
}
<link href="~/layout/admin/assets/css/pages/appointments/client-appointment-list.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css" rel="stylesheet">

<div class="container">
    <h1 class="page-title">  لیست نوبت های امروز‌  </h1>
    <!-- فیلترها -->
    <div class="filter-card">
        <form method="get" id="admin-appointment-filter-form">
            <div class="filter-row">

                <div class="filter-item">
                    <label for="Filter.TreatmentTitle">نوع خدمت</label>
                    <select id="Day" asp-for="Filter.TreatmentTitle">
                        <option value="">همه</option>
                        @foreach (var treatment in Model.TreatmentTitles)
                        {
                            <option value="@treatment.Title">@treatment.Title</option>
                        }
                    </select>
                </div>

                <div class="filter-item">
                    <label for="Status">وضعیت</label>
                    <select id="Status" asp-for="Filter.Status">
                        <option value="">همه</option>
                        <option value="Pending">در انتظار</option>
                        <option value="Confirmed">تایید شده</option>
                        <option value="Cancelled">کنسل شده</option>
                    </select>
                </div>

                <div class="filter-item">
                    <label for="Search">جستجو</label>
                    <input type="text"
                           asp-for="Search"
                           placeholder="  شماره تلفن مشتری  "
                           class="form-control" />
                </div>
                <div class="filter-item filter-button">
                </div>

                <div class="filter-item filter-button">
                    <button type="submit" id="apply-admin-appointment-filter">اعمال فیلتر</button>
                    <button type="button" id="remove-filter" class="btn-remove-filter">حذف فیلتر</button>
                </div>
            </div>
        </form>
    </div>
    <!-- جدول نوبت ها -->
    <div class="appointments-card">
        @await Html.PartialAsync("_allAppointmentsPartial", Model.ListAppointments)
    </div>
</div>