<div class="d-flex">
    <div class="navbar-brand-box">
        <a href="index.php" class="logo logo-dark">
            <span class="logo-sm">
                <img src="Layout/Admin/assets/images/logo-sm.svg" alt="" height="24">
            </span>
            <span class="logo-lg">
                <img src="Layout/Admin/assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">فوداتکو</span>
            </span>
        </a>

        <a href="index.php" class="logo logo-light">
            <span class="logo-sm">
                <img src="Layout/Admin/assets/images/logo-sm.svg" alt="" height="24">
            </span>
            <span class="logo-lg">
                <img src="Layout/Admin/assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">فوداتکو</span>
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>
</div>

