<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                   سالن زیبایی.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    طراحی وتوسعه با <a href="#!" class="text-decoration-underline">سالن زیبایی</a>
                </div>
            </div>
        </div>
    </div>
</footer>