@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@await Component.InvokeAsync("BannerLanding");


<section class="offer-area ptb-100">
    <div class="offer-shape">
        <img src="~/Layout/assets/images/offer/offer-shape1.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <h2>مهمترین خدمات ما</h2>
        </div>
        <div class="offer-slider owl-theme owl-carousel">
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer1.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer2.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer3.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer4.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer5.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item">
                <img src="~/Layout/assets/images/offer/offer1.jpg" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>عنوان خدمات</h4>
                            <a href="service-details.html">مشاهده</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="best-area pt-100 pb-70">
    <div class="best-shape">
        <img src="~/Layout/assets/images/best/best-shape1.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="best-img">
                    <img src="~/Layout/assets/images/best/best1.jpg" alt="Best">
                    <img src="~/Layout/assets/images/best/best-bg.png" alt="Shape">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-item">
                    <div class="section-title">
                        <h2>چرا ما بهترینیم؟</h2>
                        <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                    </div>
                    <ul class="accordion">
                        <li>
                            <h3 class="faq-head">یک عنوان دلخواه در این بخش می نویسیم</h3>
                            <div class="faq-content">
                                <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است <a href="#">[...]</a></p>
                            </div>
                        </li>
                        <li>
                            <h3 class="faq-head">یک عنوان دلخواه در این بخش می نویسیم</h3>
                            <div class="faq-content">
                                <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است <a href="#">[...]</a></p>
                            </div>
                        </li>
                        <li>
                            <h3 class="faq-head">یک عنوان دلخواه در این بخش می نویسیم</h3>
                            <div class="faq-content">
                                <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است <a href="#">[...]</a></p>
                            </div>
                        </li>
                        <li>
                            <h3 class="faq-head">یک عنوان دلخواه در این بخش می نویسیم</h3>
                            <div class="faq-content">
                                <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است <a href="#">[...]</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="services-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>خدمات سالن زیبایی ما</h2>
            <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="~/Layout/assets/images/services/services1.jpg" alt="Services">
                        <h3>
                            <a href="service-details.html">عنوان خدمات </a>
                        </h3>
                        <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                        <a class="services-btn" href="service-details.html">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="~/Layout/assets/images/services/services2.jpg" alt="Services">
                        <h3>
                            <a href="service-details.html">عنوان خدمات </a>
                        </h3>
                        <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                        <a class="services-btn" href="service-details.html">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="~/Layout/assets/images/services/services3.jpg" alt="Services">
                        <h3>
                            <a href="service-details.html">عنوان خدمات</a>
                        </h3>
                        <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                        <a class="services-btn" href="service-details.html">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="~/Layout/assets/images/services/services4.jpg" alt="Services">
                        <h3>
                            <a href="service-details.html">عنوان خدمات </a>
                        </h3>
                        <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                        <a class="services-btn" href="service-details.html">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* 
<div class="reviews-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="section-title">
                    <h2>نظرات مشتریان ما</h2>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="reviews-shape">
                        <img src="~/Layout/assets/images/reviews/reviews-shape1.png" alt="Shape">
                        <img src="~/Layout/assets/images/reviews/reviews-shape2.png" alt="Shape">
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                            <h3>4.8</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                            <h3>4.5</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                            <h3>4.6</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>یک متن مرتبط در زمینه عنوان مورد نظر را در این بخش می نویسیم تا مفهوم کلیه بخش مورد نظر را به کاربر برسانیم .این بخش برای آگاهی کاربر از بخش مربوطه بسیار مهم است</p>
                            <h3>4.2</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="reviews-img">
                            <img src="~/Layout/assets/images/reviews/reviews1.jpg" alt="Reviews">
                            <h3>آنگلا</h3>
                            <span>مدل</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="reviews-img">
                            <img src="~/Layout/assets/images/reviews/reviews2.jpg" alt="Reviews">
                            <h3>آنگلا</h3>
                            <span>مدل</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="reviews-img">
                            <img src="~/Layout/assets/images/reviews/reviews3.jpg" alt="Reviews">
                            <h3>آنگلا</h3>
                            <span>مدل</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="reviews-img">
                            <img src="~/Layout/assets/images/reviews/reviews4.jpg" alt="Reviews">
                            <h3>آنگلا</h3>
                            <span>مدل</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

            *@             