@using SaharBeautyWeb.Models.Entities.Appointments.Models
@model List<TimeSlotModel>

<div class="time-slot-container">
    @foreach (var slot in Model)
    {
        <div class="time-slot-card " data-start="@slot.Start.ToString("HH:mm")" >
            <span class="selected-time" >@slot.Start.ToString("HH:mm")</span> - <span>@slot.End.ToString("HH:mm")</span>

        </div>
    }
</div>