@page
@model SaharBeautyWeb.Pages.UserPanels.Admin.SiteSettings.Treatments.IndexModel
@{
    Layout = "_UserPanelLayout";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-4">
                            <button type="button" class="btn btn-primary waves-effect waves-light"><i class="bx bx-plus me-1"></i>افزودن خدمات </button>
                        </div>
                    </div>

                </div>
                <!-- end row -->

                <div class="table-responsive">
                    <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                        <thead>
                            <tr class="bg-transparent">
                                <th>عنوان خدمت</th>
                                <th>توضیحات</th>
                                <th>عکس</th>
                                <th style="width: 90px;">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model. Treatments)
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        <p>
                                            @item.Description
                                        </p>
                                    </td>
                                    <td>
                                        <img class="flex-shrink-0 me-3 rounded-circle" 
                                        src="@item.Media.Url"
                                        alt="Generic placeholder image"
                                        height="36">
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bx bx-dots-horizontal-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#">ویرایش</a></li>
                                                <li><a class="dropdown-item" href="#">پرینت</a></li>
                                                <li><a class="dropdown-item" href="#">حذف</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table responsive -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>